* {
    box-sizing: border-box;

}
body {
    margin: 0;
    background-color: #eee;
}
section {
    height: 100vh;
    background-color: antiquewhite;
}
section span {
    margin: 0;
    text-align: center;
    line-height: 1;
    display: block;
    font-weight: 700;
    padding-top: calc(50vh - 20pt);
    font-size:300%;
}